{% extends "base.html.twig" %}

{% block title %}
	Contact
{% endblock %}

{% block body %}

	<!-- Page Title -->
	<div class="page-title accent-background" style="padding: 20px 0;">
		<div class="container">
			<h1 style="font-size: 2rem;">Langage</h1>
			<nav class="breadcrumbs"></nav>
		</div>
	</div>
	<!-- End Page Title -->

	<main class="main">
		<section id="services" class="services section light-background">
			<div class="container">
				<div class="row gy-4">

					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
						<div class="service-item item-cyan position-relative">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 600 600" width="100" height="100">
									<ellipse cx="300" cy="300" rx="250" ry="150" fill="#4F5B93"/>
									<text x="50%" y="50%" text-anchor="middle" fill="#FFFFFF" font-family="Arial, sans-serif" font-size="120" dy=".3em">PHP</text>
								</svg>

							</div>
							<a href="{{path('app_frame_work')}}" class="stretched-link">
								<h3>PHP</h3>
							</a>
							<p>Langage de script côté serveur conçu pour créer des pages web dynamiques et interactives.</p>
						</div>
					</div>
					<!-- End Service Item -->

					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
						<div class="service-item item-orange position-relative">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 600 600" width="100" height="100">
									<ellipse cx="300" cy="300" rx="250" ry="150" fill="#E76F00"/>
									<text x="50%" y="50%" text-anchor="middle" fill="#FFFFFF" font-family="Arial, sans-serif" font-size="120" dy=".3em">Java</text>
								</svg>
							</div>
							<a href="service-details.html" class="stretched-link">
								<h3>Java</h3>
							</a>
							<p>Langage de programmation polyvalent, orienté objet, utilisé pour des applications robustes.</p>
						</div>
					</div>
					<!-- End Service Item -->


					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
						<div class="service-item item-blue position-relative">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 600 600" width="100" height="100">
									<ellipse cx="300" cy="300" rx="250" ry="150" fill="#306998"/>
									<text x="50%" y="50%" text-anchor="middle" fill="#FFD43B" font-family="Arial, sans-serif" font-size="120" dy=".3em">Python</text>
								</svg>
							</div>
							<a href="service-details.html" class="stretched-link">
								<h3>Python</h3>
							</a>
							<p>Langage polyvalent, facile à apprendre, utilisé pour l'IA, la science des données et le web.</p>
						</div>
					</div>
					<!-- End Service Item -->


					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
						<div class="service-item item-yellow position-relative">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 600 600" width="100" height="100">
									<ellipse cx="300" cy="300" rx="250" ry="150" fill="#F7DF1E"/>
									<text x="50%" y="50%" text-anchor="middle" fill="#000000" font-family="Arial, sans-serif" font-size="120" dy=".3em">JS</text>
								</svg>
							</div>
							<a href="service-details.html" class="stretched-link">
								<h3>JavaScript</h3>
							</a>
							<p>Langage de script incontournable pour créer des pages web interactives et dynamiques.</p>
						</div>
					</div>
					<!-- End Service Item -->


					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
						<div class="service-item item-red position-relative">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 600 600" width="100" height="100">
									<ellipse cx="300" cy="300" rx="250" ry="150" fill="#D9145A"/>
									<text x="50%" y="50%" text-anchor="middle" fill="#FFFFFF" font-family="Arial, sans-serif" font-size="120" dy=".3em">Ruby</text>
								</svg>
							</div>
							<a href="service-details.html" class="stretched-link">
								<h3>Ruby</h3>
							</a>
							<p>Langage dynamique et orienté objet, utilisé pour le développement web avec Ruby on Rails.</p>
						</div>
					</div>
					<!-- End Service Item -->


					<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
						<div class="service-item item-blue-csharp position-relative">
							<div class="icon">
								<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 600 600" width="100" height="100">
									<ellipse cx="300" cy="300" rx="250" ry="150" fill="#68217A"/>
									<text x="50%" y="50%" text-anchor="middle" fill="#FFFFFF" font-family="Arial, sans-serif" font-size="120" dy=".3em">C#</text>
								</svg>
							</div>
							<a href="service-details.html" class="stretched-link">
								<h3>C#</h3>
							</a>
							<p>Langage de programmation orienté objet, utilisé pour le développement d'applications sur la plateforme .NET.</p>
						</div>
					</div>
					<!-- End Service Item -->

				</div>

			</div>
		</section>

		<section id="clients" class="clients section light-background">

			<div class="container" data-aos="fade-up">

				<div class="row gy-4">

					<div class="col-xl-2 col-md-3 col-6 client-logo">
						<img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
					</div>
					<!-- End Client Item -->

					<div class="col-xl-2 col-md-3 col-6 client-logo">
						<img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
					</div>
					<!-- End Client Item -->

					<div class="col-xl-2 col-md-3 col-6 client-logo">
						<img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
					</div>
					<!-- End Client Item -->

					<div class="col-xl-2 col-md-3 col-6 client-logo">
						<img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
					</div>
					<!-- End Client Item -->

					<div class="col-xl-2 col-md-3 col-6 client-logo">
						<img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
					</div>
					<!-- End Client Item -->

					<div class="col-xl-2 col-md-3 col-6 client-logo">
						<img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
					</div>
					<!-- End Client Item -->

				</div>

			</div>
		</section>

		<section id="testimonials" class="testimonials section">
			<div class="container section-title" data-aos="fade-up">
				<h2>Testimonials</h2>
				<p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
			</div>
			<!-- End Section Title -->

			<div class="container" data-aos="fade-up" data-aos-delay="100">

				<div class="swiper init-swiper" data-speed="600" data-delay="5000" data-breakpoints="{ &quot;320&quot;: { &quot;slidesPerView&quot;: 1, &quot;spaceBetween&quot;: 40 }, &quot;1200&quot;: { &quot;slidesPerView&quot;: 3, &quot;spaceBetween&quot;: 40 } }">
					<script type="application/json" class="swiper-config">
						{
						                            "loop": true,
						                            "speed": 600,
						                            "autoplay": {
						                                "delay": 5000
						                            },
						                            "slidesPerView": "auto",
						                            "pagination": {
						                                "el": ".swiper-pagination",
						                                "type": "bullets",
						                                "clickable": true
						                            },
						                            "breakpoints": {
						                                "320": {
						                                "slidesPerView": 1,
						                                "spaceBetween": 40
						                                },
						                                "1200": {
						                                "slidesPerView": 3,
						                                "spaceBetween": 20
						                                }
						                            }
						                            }
					</script>
					<div class="swiper-wrapper">

						<div class="swiper-slide">
							<div class="testimonial-item" "=" ">
								<p>
									<i class=" bi bi-quote quote-icon-left"></i>
									<span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
									<i class="bi bi-quote quote-icon-right"></i>
								</p>
								<img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
								<h3>Saul Goodman</h3>
								<h4>Ceo &amp; Founder</h4>
							</div>
						</div>
						<!-- End testimonial item -->

						<div class="swiper-slide">
							<div class="testimonial-item">
								<p>
									<i class="bi bi-quote quote-icon-left"></i>
									<span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
									<i class="bi bi-quote quote-icon-right"></i>
								</p>
								<img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
								<h3>Sara Wilsson</h3>
								<h4>Designer</h4>
							</div>
						</div>
						<!-- End testimonial item -->

						<div class="swiper-slide">
							<div class="testimonial-item">
								<p>
									<i class="bi bi-quote quote-icon-left"></i>
									<span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
									<i class="bi bi-quote quote-icon-right"></i>
								</p>
								<img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
								<h3>Jena Karlis</h3>
								<h4>Store Owner</h4>
							</div>
						</div>
						<!-- End testimonial item -->

						<div class="swiper-slide">
							<div class="testimonial-item">
								<p>
									<i class="bi bi-quote quote-icon-left"></i>
									<span>Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.</span>
									<i class="bi bi-quote quote-icon-right"></i>
								</p>
								<img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
								<h3>Matt Brandon</h3>
								<h4>Freelancer</h4>
							</div>
						</div>
						<!-- End testimonial item -->

						<div class="swiper-slide">
							<div class="testimonial-item">
								<p>
									<i class="bi bi-quote quote-icon-left"></i>
									<span>Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.</span>
									<i class="bi bi-quote quote-icon-right"></i>
								</p>
								<img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
								<h3>John Larson</h3>
								<h4>Entrepreneur</h4>
							</div>
						</div>
						<!-- End testimonial item -->

					</div>
					<div class="swiper-pagination"></div>
				</div>

			</div>
		</section>

		<section id="team" class="team section light-background">
			<div class="container section-title" data-aos="fade-up">
				<h2>Team</h2>
				<p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
			</div>
			<div class="container">

				<div class="row gy-4">

					<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
						<div class="team-member">
							<div class="member-img">
								<img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
								<div class="social">
									<a href="">
										<i class="bi bi-twitter-x"></i>
									</a>
									<a href="">
										<i class="bi bi-facebook"></i>
									</a>
									<a href="">
										<i class="bi bi-instagram"></i>
									</a>
									<a href="">
										<i class="bi bi-linkedin"></i>
									</a>
								</div>
							</div>
							<div class="member-info">
								<h4>Walter White</h4>
								<span>Chief Executive Officer</span>
							</div>
						</div>
					</div>
					<!-- End Team Member -->

					<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
						<div class="team-member">
							<div class="member-img">
								<img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">
								<div class="social">
									<a href="">
										<i class="bi bi-twitter-x"></i>
									</a>
									<a href="">
										<i class="bi bi-facebook"></i>
									</a>
									<a href="">
										<i class="bi bi-instagram"></i>
									</a>
									<a href="">
										<i class="bi bi-linkedin"></i>
									</a>
								</div>
							</div>
							<div class="member-info">
								<h4>Sarah Jhonson</h4>
								<span>Product Manager</span>
							</div>
						</div>
					</div>
					<!-- End Team Member -->

					<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
						<div class="team-member">
							<div class="member-img">
								<img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">
								<div class="social">
									<a href="">
										<i class="bi bi-twitter-x"></i>
									</a>
									<a href="">
										<i class="bi bi-facebook"></i>
									</a>
									<a href="">
										<i class="bi bi-instagram"></i>
									</a>
									<a href="">
										<i class="bi bi-linkedin"></i>
									</a>
								</div>
							</div>
							<div class="member-info">
								<h4>William Anderson</h4>
								<span>CTO</span>
							</div>
						</div>
					</div>
					<!-- End Team Member -->

					<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
						<div class="team-member">
							<div class="member-img">
								<img src="assets/img/team/team-4.jpg" class="img-fluid" alt="">
								<div class="social">
									<a href="">
										<i class="bi bi-twitter-x"></i>
									</a>
									<a href="">
										<i class="bi bi-facebook"></i>
									</a>
									<a href="">
										<i class="bi bi-instagram"></i>
									</a>
									<a href="">
										<i class="bi bi-linkedin"></i>
									</a>
								</div>
							</div>
							<div class="member-info">
								<h4>Amanda Jepson</h4>
								<span>Accountant</span>
							</div>
						</div>
					</div>
					<!-- End Team Member -->

				</div>
			</div>
		</section>

		<section id="contact" class="contact section">
			<div class="container section-title" data-aos="fade-up">
				<h2>Contact</h2>
				<p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
			</div>
			<!-- End Section Title -->
			<div class="container" data-aos="fade-up" data-aos-delay="100">

				<div class="mb-4" data-aos="fade-up" data-aos-delay="200">
					<iframe style="border:0; width: 100%; height: 270px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<!-- End Google Maps -->

				<div class="row gy-4">

					<div class="col-lg-4">
						<div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
							<i class="bi bi-geo-alt flex-shrink-0"></i>
							<div>
								<h3>Address</h3>
								<p>A108 Adam Street, New York, NY 535022</p>
							</div>
						</div>
						<!-- End Info Item -->

						<div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
							<i class="bi bi-telephone flex-shrink-0"></i>
							<div>
								<h3>Call Us</h3>
								<p>+1 5589 55488 55</p>
							</div>
						</div>
						<!-- End Info Item -->

						<div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
							<i class="bi bi-envelope flex-shrink-0"></i>
							<div>
								<h3>Email Us</h3>
								<p>info@example.com</p>
							</div>
						</div>
						<!-- End Info Item -->

					</div>

					<div class="col-lg-8">
						<form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
							<div class="row gy-4">

								<div class="col-md-6">
									<input type="text" name="name" class="form-control" placeholder="Your Name" required="">
								</div>

								<div class="col-md-6 ">
									<input type="email" class="form-control" name="email" placeholder="Your Email" required="">
								</div>

								<div class="col-md-12">
									<input type="text" class="form-control" name="subject" placeholder="Subject" required="">
								</div>

								<div class="col-md-12">
									<textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
								</div>

								<div class="col-md-12 text-center">
									<div class="loading">Loading</div>
									<div class="error-message"></div>
									<div class="sent-message">Your message has been sent. Thank you!</div>

									<button type="submit">Send Message</button>
								</div>

							</div>
						</form>
					</div>
					<!-- End Contact Form -->

				</div>
			</div>
		</section>
	</main>

	<footer id="footer" class="footer light-background">

		<div class="container footer-top">
			<div class="row gy-4">
				<div class="col-lg-5 col-md-12 footer-about">
					<a href="index.html" class="logo d-flex align-items-center">
						<span class="sitename">OnePage</span>
					</a>
					<p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
					<div class="social-links d-flex mt-4">
						<a href="">
							<i class="bi bi-twitter-x"></i>
						</a>
						<a href="">
							<i class="bi bi-facebook"></i>
						</a>
						<a href="">
							<i class="bi bi-instagram"></i>
						</a>
						<a href="">
							<i class="bi bi-linkedin"></i>
						</a>
					</div>
				</div>

				<div class="col-lg-2 col-6 footer-links">
					<h4>Useful Links</h4>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">About us</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Terms of service</a></li>
						<li><a href="#">Privacy policy</a></li>
					</ul>
				</div>

				<div class="col-lg-2 col-6 footer-links">
					<h4>Our Services</h4>
					<ul>
						<li><a href="#">Web Design</a></li>
						<li><a href="#">Web Development</a></li>
						<li><a href="#">Product Management</a></li>
						<li><a href="#">Marketing</a></li>
						<li><a href="#">Graphic Design</a></li>
					</ul>
				</div>

				<div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
					<h4>Contact Us</h4>
					<p>A108 Adam Street</p>
					<p>New York, NY 535022</p>
					<p>United States</p>
					<p class="mt-4">
						<strong>Phone:</strong>
						<span>+1 5589 55488 55</span>
					</p>
					<p>
						<strong>Email:</strong>
						<span>info@example.com</span>
					</p>
				</div>

			</div>
		</div>

		<div class="container copyright text-center mt-4">
			<p>©
				<span>Copyright</span>
				<strong class="px-1 sitename">OnePage</strong>
				<span>All Rights Reserved</span>
			</p>
			<div class="credits">
				<!-- All the links in the footer should remain intact. -->
				<!-- You can delete the links only if you've purchased the pro version. -->
				<!-- Licensing information: https://bootstrapmade.com/license/ -->
				<!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
				Designed by<a href="https://bootstrapmade.com/"> BootstrapMade</a>
				Distributed by
				<a href="“https://themewagon.com">ThemeWagon
				</div>
			</div>
		</footer>

		<!-- Scroll Top -->
		<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center">
			<i class="bi bi-arrow-up-short"></i>
		</a>

		<!-- Preloader -->
		<div id="preloader"></div>

	{% endblock %}
