{% extends "base.html.twig" %}

{% block title %}
    Contact
{% endblock %}

{% block body %}

        <main class="main">
           <section id="services" class="services section light-background">
    <div class="container">
        <div class="row gy-4">
            <!-- Service Item: Laravel -->
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item item-red position-relative">
                    <div class="icon">
                        <img src="https://media.licdn.com/dms/image/v2/D5603AQFArng1YhoA9Q/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1696285018527?e=1742428800&v=beta&t=BL9nHMuBma9Ryn__q0WtYYvo0RC_SulJ-cwLHMgQCS0" alt="Laravel Logo" width="80" height="80">
                    </div>
                    <a href="{{path('app_developer_details')}}"  class="stretched-link">
                        <h3> details </h3>
                    </a>
                    <p>Framework PHP populaire pour le développement web moderne avec une structure élégante et robuste.</p>
                </div>
            </div><!-- End Service Item -->

            <!-- Service Item: Symfony -->
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item item-black position-relative">
                    <div class="icon">
                        <img src="https://media.licdn.com/dms/image/v2/D5603AQFArng1YhoA9Q/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1696285018527?e=1742428800&v=beta&t=BL9nHMuBma9Ryn__q0WtYYvo0RC_SulJ-cwLHMgQCS0" alt="Symfony Logo" width="80" height="80">
                    </div>
                    <a href="assets/pdf/symfony-guide.pdf" download class="stretched-link">
                        <h3>details</h3>
                    </a>
                    <p>Framework PHP performant conçu pour le développement de projets web flexibles et robustes.</p>
                </div>
            </div><!-- End Service Item -->

            <!-- Service Item: CodeIgniter -->
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item item-orange position-relative">
                    <div class="icon">
                        <img src="https://media.licdn.com/dms/image/v2/D5603AQFArng1YhoA9Q/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1696285018527?e=1742428800&v=beta&t=BL9nHMuBma9Ryn__q0WtYYvo0RC_SulJ-cwLHMgQCS0" alt="CodeIgniter Logo" width="80" height="80">
                    </div>
                    <a href="assets/pdf/codeigniter-guide.pdf" download class="stretched-link">
                        <h3>Details </h3>
                    </a>
                    <p>Framework PHP léger et rapide conçu pour créer des applications web performantes et évolutives.</p>
                </div>
            </div><!-- End Service Item -->

            <!-- Service Item: Zend Framework -->
            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="service-item item-green position-relative">
                    <div class="icon">
                        <img src="https://media.licdn.com/dms/image/v2/D5603AQFArng1YhoA9Q/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1696285018527?e=1742428800&v=beta&t=BL9nHMuBma9Ryn__q0WtYYvo0RC_SulJ-cwLHMgQCS0" alt="Zend Framework Logo" width="80" height="80">
                    </div>
                    <a href="assets/pdf/zend-guide.pdf" download class="stretched-link">
                        <h3>Details</h3>
                    </a>
                    <p>Framework PHP modulaire et puissant pour développer des applications web robustes et évolutives.</p>
                </div>
            </div><!-- End Service Item -->
        </div>
    </div>
</section>


        </main>

        <footer id="footer" class="footer light-background">

            <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-about">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span class="sitename">OnePage</span>
                </a>
                <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
                <div class="social-links d-flex mt-4">
                    <a href=""><i class="bi bi-twitter-x"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Product Management</a></li>
                    <li><a href="#">Marketing</a></li>
                    <li><a href="#">Graphic Design</a></li>
                </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>A108 Adam Street</p>
                <p>New York, NY 535022</p>
                <p>United States</p>
                <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
                <p><strong>Email:</strong> <span>info@example.com</span></p>
                </div>

            </div>
            </div>

            <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">OnePage</strong> <span>All Rights Reserved</span></p>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed by <a href=“https://themewagon.com>ThemeWagon
            </div>
            </div>
        </footer>

        <!-- Scroll Top -->
        <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

        <!-- Preloader -->
        <div id="preloader"></div>
        

{% endblock %}